.highlighting{
    float:left;

}
input.button1{
  position: relative;
  width:100px;
  height: 100px;
  top:630px;
  float:left;
  
}
th {
    width:30px;
    height:30px;
    background-color:grey;
td {
    width:30px;
    height:30px;
}
